.chat_section{
    width: 30%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vw;
    
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 0;
    
    background-color: #280946de;

    animation: chat_anim .5s ease-in-out 0s 1 forwards ;
    transition: all ease-in 1s;
    transform: translateX(100%);
    opacity: 0;
}
@keyframes chat_anim {
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
#close_chat{
    position: absolute;
    color: aliceblue;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: .5vw;
    border-radius: 1vw;
    margin: .5vw;
}
#close_chat:hover{
    background-color: aliceblue;
    color: #170629;
}
.chat_section > span{
    color: aliceblue;
    padding: .5vh 0vw;
    font-weight: bold;
    opacity: .8;
}
.friends, .chat {
    transition: all .4s ease-in-out;

}
.friends{
    border-radius: .5vw;
    padding: 1vw;
    background-color: aliceblue;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out 1s;
}
.friends:hover{
    flex: 2;
}
.friend{
    background-color: #240940;
    color: aliceblue;
    padding: 0vh .5vw;
    border-radius: .5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5vw;
    transition: all ease-in .5s;
    animation: friends_in .5s ease-in-out 0s 1 forwards;
    transform: translateX(100%);
    opacity: 0;

}
@keyframes friends_in {
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}
.friend, .friend > *{
    transition: all ease-in-out .5s;

}
.friend:hover{
    background-color: #170629;
    transform: scale(1.05);
}
.friend > div:first-of-type{
    display: flex;
    align-items: center;
    gap: .5vw;
    overflow: hidden;
    padding: 1vw 0vw;
    flex: 1;
}

.friend img{
    width: 20%;
    border-radius: 1vw;
}
.friend button{
    padding: .1vw;
    background-color: aliceblue;
    color: #240940;
    border-radius: 1vw;
    border: none;
    font-weight: bolder;
    box-shadow: .1vw .1vw .5vw #170629;
    cursor: pointer;
    width: fit-content;
}
.friend button svg{
    /* width: 10%; */
    width: 32px;
}
.friend button:hover{
    background-color: #170629;
    color: aliceblue;
    box-shadow: -.1vw .1vw 1vw aliceblue;
}
button.del_friend{
    box-shadow: none;
    width: fit-content;
    /* background-color: red; */
    /* color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;
    transition: all ease-in-out 0s;
}
button.del_friend:hover{
    background-color: red;
    box-shadow: 0vw 0vw .1vw red;

}
button.del_friend:hover > svg{
    box-shadow: -.1vw .1vw 1vw red;
    background-color: red;
    border-radius: .5vw;
}
.del_friend svg{
    background-color: transparent;
    /* background-color: green; */
    width: 32px;
    height: fit-content;
    padding: 0;
}
.friends_empty{
    text-align: center;
    opacity: .8;
    margin-top: auto;
    margin-bottom: auto;
}
.chat{
    color: aliceblue;
    border-radius: .5vw;
    
    background-color: aliceblue;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #170629;
    gap: 2vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}   

.chat:hover{
    flex: 2;
}
.chat div{
    border-radius: 1vw;
    padding: .5vw 2vw;
    width: fit-content;

    opacity: 0;
    transition: all ease-in-out 1s;
    margin: 1vh 1vw;

}

.chat .sent{
    margin-left: auto;
    border-bottom-right-radius: 0;
    color: #170629;
    background-color: aliceblue;
    border: .1vw solid #170629;
}
.chat .recieved{
    border-bottom-left-radius: 0;
    background-color: #170629;
    color: aliceblue;
}

.messages_in{
    color: red;
    transform: translateY(100%);
    animation: messages_in .6s ease-in-out 0s 1 forwards;
}

@keyframes messages_in {
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}
.send_message_inp{
    padding: .5vh 1vw;
    outline: .1vw solid aliceblue;
    width: 100%;
}
.no_messages{
    text-align: center;
    padding: 1vw;
    opacity: .8;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #170629;
    color: aliceblue;
    border-radius: 1vw;
    width: fit-content;
    margin: auto;
    transform: translateY(100%);
    animation: messages_in .6s ease-in-out 0s 1 forwards;

    }