.chat_section{
    width: 30%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vw;
    
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    
    background-color: #270946ab;

    animation: chat_anim .5s ease-in-out 0s 1 forwards ;
    transition: all ease-in 1s;
    transform: translateX(100%);
    opacity: 0;
}
@keyframes chat_anim {
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
#close_chat{
    position: absolute;
    color: aliceblue;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: .5vw;
    border-radius: 1vw;
    margin: .5vw;
}
#close_chat:hover{
    background-color: aliceblue;
    color: #170629;
}
.chat_section > span{
    color: aliceblue;
    padding: .5vh 0vw;
    font-weight: bold;
    opacity: .8;
}
.friends, .chat {
    transition: all .4s ease-in-out;

}
.friends{
    border-radius: .5vw;
    padding: 1vw;
    background-color: aliceblue;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow-y: scroll;
}
.friends:hover{
    flex: 2;
}
.friend{
    background-color: #240940;
    color: aliceblue;
    padding: 0vh .5vw;
    border-radius: .5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.friend, .friend > *{
    transition: all ease-in-out .5s;

}
.friend:hover{
    background-color: #170629;
    transform: scale(1.05);
}
.friend > div:first-of-type{
    display: flex;
    align-items: center;
    gap: .5vw;
    overflow: hidden;
    padding: 1vw 0vw;
    flex: 1;
}

.friend img{
    width: 20%;
    border-radius: 1vw;
    background-color: green;
}
.friend button{
    padding: .5vh 1vw;
    background-color: aliceblue;
    color: #240940;
    border-radius: 1vw;
    border: none;
    font-weight: bolder;
    box-shadow: .1vw .1vw .5vw #170629;
    cursor: pointer;
    width: 20%;
}
.friend button svg{
    /* width: 10%; */
}
.friend button:hover{
    background-color: #170629;
    color: aliceblue;
    box-shadow: -.1vw .1vw 1vw aliceblue;
}
.chat{
    background-color: #ff69b4;
    flex: 1;
}   
.chat:hover{
    flex: 2;
}