.home_page{
    background-color: green;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    height: 100%;
}
.home_page > *{
    border: 1px solid;
}

.over_view{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.posters{
    flex: 3;
    background-color: burlywood;
}
.games{
    flex: 5;
    background-color: blue;
}
.chat_section{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.chat_section > * {
    border: 1px solid;
}
.friends{
    background-color: chocolate;
    flex: 1;
}
.chat{
    background-color: hotpink;
    flex: 1;

}   