.home_page{
    background-color: black;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    height: 100%;
    width: 95vw;
    margin: auto;
}
.home_page > *{
    border: 1px solid;
}

.over_view{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: linear-gradient(90deg, #1a0a2bb7,#1a0a2bb7, #1a0a2bec); */
    background-size: cover;
    /* padding: 5vw; */
}
.posters{
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    animation: posters_anim 6s ease-in-out infinite;
    display: flex;
    justify-content: start;
    padding: 2vw 0vw;
    opacity: 0;
  }
  
  @keyframes posters_anim {
  0% {
    opacity: 0;
    background-size: 100%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-size: 120%;
  }
}
.poster{
  padding: 5vh 2vw;
  font-size: 2rem;
  text-shadow: 0vw 0vw .2vw aliceblue;
  /* background-image: linear-gradient(45deg, #ff7e5f, #feb47b); */
  font-family: 'Orbitron';

}
.game_title{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5vh;
  width: fit-content;
  width: 30ch;
}
.poster h1{
  color: aliceblue;
  text-shadow: .1vw .1vw 1vw black;
  font-size: 3rem;
}
.poster .rating{
  font-size: .8rem;
  background-color: aliceblue;
  color: #000;
  padding: .5vh 1vw;
  border-radius: 1vw;
  transform: translateY(20%);
  font-weight: bold;
}
.check_game_btn{
  display: block;
  margin: 4vh 0vw;
  padding: 1vh 2vw;
  font-size: 1.8rem;

  border-radius: 1vw;
  background-color: #390e66;
  color: aliceblue;
  cursor: pointer;
  border: none;
  box-shadow: .2vw .2vw .5vw #260946;
  text-shadow: 0vw 0vw .2vw aliceblue;
  transition: all .5s ease-in-out;
}
.check_game_btn:hover{
  background-color: aliceblue;
  box-shadow: 0vw 0vw .5vw aliceblue;

  color: #260946;
}
.game_m_title{
  color: aliceblue;
}
.g_mode{
  font-size: 1rem;
  padding: 1vh 1vw;
  border-radius: 2vw;
  background-color: aliceblue;
  color: black;
  margin-left: 1vw;
  opacity: .7;
  cursor: pointer;
  opacity: .8;

}
.g_mode:hover{
  opacity: 1;
}
.game_summary{
  
  font-size: 1.2rem;
  width: 40ch;
  height: 6ch;
  overflow: hidden;
  color: aliceblue;
  opacity: .8;
}
.poster .attr_title{
  display: block;
  color: aliceblue;
  margin-top: 2vh;
  opacity: .8;

}
.games{
    height: 80%;
    display:flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1vw;
    overflow-x: scroll;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    transform: translateY(80%) scaleY(.8);
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    backdrop-filter: blur(0px);
    padding: 1vw;
    
  }
  .games:hover{
  backdrop-filter: blur(.5px);
    transform: translateY(0);
}
.game{
    background-color: aliceblue;
    height: 40vh;
    width: 15vw;
    text-align: center;
    flex-shrink: 0;
    /* flex-grow: 0; */
    border-radius: 1rem;

    opacity: .8;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.game:hover{
    opacity: 1;
}
.card {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s;
    background: #380e66;;
  }
  
  .card img {
    grid-area: 1/1;
    width: 100%;
    /* height: auto; */
    transition: transform 0.4s;
  }
  
  h2 {
    grid-area: 1/1;
    display: grid;
    align-items: center;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    color: #fff;
    font-size: 1.5rem;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 2s, color 0.4s;
  }
  
  .card:hover h2 {
    clip-path: inset(0 0 0 0);
  }
  
  .card__title {
    margin: 0;
    font-weight: bold;
  }
  
  .card__button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
  }
  
  .card__button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .card:hover img {
    transform: scale(1.2);
  }
/* ------------------------------------------------ */
.chat_section{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.chat_section > * {
    border: 1px solid;
}
.friends{
    background-color: chocolate;
    flex: 1;
}
.chat{
    background-color: hotpink;
    flex: 1;

}   