body{
    padding: 0;
}
.user_interface{
    height: 100vh;
    width: 100vw;
    background-color: green;
    display: flex;
}
.sideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */

    background-color: #240940;
    width: 5vw;
    z-index: 2;
}

.sideNav nav{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1vh;
    padding: 1vh;
    padding-left: 0;
    width: 100%;
}
.sideNav nav button, .search_btn{
    padding: 2vh 0vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.search_btn svg{
    color: #240940;
}
nav > *  , .favorite > *{
    color: aliceblue;
}
.sideNav nav button.active{
    background-color: aliceblue;
    color: #240940;
}
.search_btn svg{
    /* fill: aqua; */
    color: aliceblue;
    padding: .5vh 1vw;
}
.search_btn:hover > svg, .search_btn svg.active{
    color: #240940;
}
.favorite{
    padding: 1vw;
}
.favorite.active{
    background-color: aliceblue;
}
.favorite.active svg{
    color: #240940;
}
.favorite, .search_btn svg{
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border-radius: 0vw .5vw .5vw 0vw;
    margin-bottom: auto;
}
.search_btn:hover > svg {
    /* overflow: hidden; */
    background-color: aliceblue;
}

.favorite:hover{
    background-color: aliceblue;
    color: #240940;
}
.favorite:hover > *{
    color: #240940;
}
.sideNav nav button:hover{
    background-color: #FFFFFF;
    color: #240940; 
}
.sideNav nav button{
    /* padding: .5vw; */
    overflow: hidden;
}
.sideNav nav button svg{
    width: 70%;
    margin: 0;
}
.search_btn{
    position: relative;
    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;
    padding: 0;
    z-index: 5;
}
.search_btn img{
    /* width: 5vw; */
    width: 100%;
    padding: 1vw;
    /* background-color: red;   */
}
.search_box{
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: 0;
    height: 8vh;
    width: fit-content;
    transform: translateY(20%) translateX(0%);
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    display: flex;
    /* padding: 1vh 1vw; */
    padding-left: 0;
    overflow: hidden;
    z-index: -1;
    /* box-shadow: 0vw 0vw 2vw #240940; */

    transition: all .1s ease-in-out;
    animation: search_animation 1s ease-in-out 0s 1 forwards;
    opacity: 0;

}
@keyframes search_animation {
    0%{
        transform: translateY(20%) translateX(0%);

    }
    70%{
        opacity: .3;
    }
    100%{
        transform: translateY(20%) translateX(100%);
        opacity: 1;
    }
}

.search_box input{
    flex: 1;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    padding: .5vw;
    border: none;
    background-color: aliceblue;
    color: #240940;
    font-size: 1.5rem;
}
.user_container{
    background-color: black;
    flex: 1;
    /* display: flex; */
}
.user_container header{
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    padding: .5vh 2vw;
    justify-content: space-between;
    height: 6vh;
    position: absolute;
    width: 95vw;
    z-index: 5;
}
.user_container header #searchBar{
    padding: 1vh 2vw;
    width: 33%;
    border-radius: .5vw;
    border: none;
}
.user_container .options{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    width: 20%;
}
.favorite_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1vw;
    position: absolute;
}