@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Nunito:wght@300;400&display=swap');
@font-face {
    font-family: Orbitron;
    src: url('./fonts/Orbitron-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(120deg, #240940 59%, #5C2B5C 100%); */
    background: linear-gradient(420deg, #5C2B5C 0%, #0e0e0e 60%);
    background-repeat: no-repeat;
    height: fit-content;
    padding: 1vw;
    padding-bottom: 0vh;
    overflow: hidden;
}
#root > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vh 2vw;
    height: 10vh;
}
nav h1{
    color: #FFFFFF;
    font-size: 2rem;
    
}
.navbar{
    display: flex;
    gap: 1vw;
    list-style: none;
    align-items: center;
}
.navbar li{
    color: aliceblue;
    padding: 1.5vh 2vw; 
    border-radius: 2vw;
    /* filter: drop-shadow(0 0 1rem yellow); */
    font-weight: bold;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    transition: all 250ms;

}
.navbar li.active{
    background-color: aliceblue;
    color: #240940;
}
.navbar li:hover{
    background-color: #FFFFFF;
    color: #240940;
}
.content{
    height: 90vh;
    /* overflow: hidden; */
    /* background-color: red; */
    display: flex;
    animation: content-animation 1s ease-in-out 0s 1 forwards;
}
@keyframes content-animation {
    0% {
      transform: translateX(10vh);
      opacity: 0;
    }
    100% {
      /* Ending state */
      transform: translateX(0);
      opacity: 1;
    }
}
.content > * {
    flex: 1;
}
.left {
    /* background-color: green; */
}
.left img{
    /* height: fit-content; */
}
.left.signup{
    display: flex;
    justify-content: center;
    align-items: end;
}
.right.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    align-items:start;
}
.right h1{
    font-size: 4rem;
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;

}
.right p{
    font-size: 1.5rem;
    padding: 1vw;
    color: #ffffffb6;
    font-family: 'Nunito', sans-serif;

}
.right button{
    /* width: fit-content; */
    padding: .5vh 2vw;
    margin-left: 1vw;
    font-size: 1.2rem;
    border-radius: 2vw;
    background-color: #FFFFFF;
    color: #240940;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: rgba(65, 7, 151, 0.2) ;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 10px 40px;
    transition: all .5s ease-in-out;
    border: 0;
    border: .2vw solid transparent;
    box-shadow: 0vw 0vw  .5vw #240940;
    font-weight: bold;
}   
.right button:hover{
    background-color: #240940;
    color: #ffff;
    border-color: aliceblue;
    box-shadow: 0vw 0vw  .5vw aliceblue;
    
}



